/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 14 px;
    -fx-background-color: linear-gradient(#cc9900,#cc6600);
    -fx-effect: dropshadow(one-pass-box, black, 8, 0, 2, 2);
}
.combo-box{
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 14 px;
    -fx-background-color: linear-gradient(#cc9900,#cc6600);
    -fx-effect: dropshadow(one-pass-box, black, 8, 0, 2, 2);
    
    
}

.button:hover{
 -fx-background-color: linear-gradient(#cc6600,#cc9900);   
}


#AnchorPane{
    -fx-background-image: url('/blackjackfx/resources/Images/Background/bj_background.jpg');
}
#errorMessageLabel{
    -fx-alignment: center;
    -fx-text-fill: red;
    -fx-font-size: 20 px;
    
}

.label{
    -fx-font-family :"serif";
    -fx-font-weight: bold;
    -fx-font-size: 16 px;
   -fx-text-fill: white;
    
}