/* 
    Document   : joingamescreen
    Created on : 20/04/2014, 13:25:21
    Author     : miri
    Description:
        Purpose of the stylesheet follows.
*/

.mainFxmlClass {

}


#AnchorPane{
    -fx-background-image: url('/blackjackfx/resources/Images/Background/bj_background.jpg');
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-size: 14 px;
    -fx-background-color: linear-gradient(#cc9900,#cc6600);
    -fx-effect: dropshadow(one-pass-box, black, 8, 0, 2, 2);
}

.button:hover{
 -fx-background-color: linear-gradient(#cc6600,#cc9900);   
}


