<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>game.servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGame</servlet-name>
        <servlet-class>game.servlets.CreateGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GamesStatus</servlet-name>
        <servlet-class>game.servlets.GamesStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GamePlayers</servlet-name>
        <servlet-class>game.servlets.GamePlayers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinGame</servlet-name>
        <servlet-class>game.servlets.JoinGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventsHappened</servlet-name>
        <servlet-class>game.servlets.EventsHappened</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGame</servlet-name>
        <url-pattern>/CreateGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GamesStatus</servlet-name>
        <url-pattern>/GamesStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GamePlayers</servlet-name>
        <url-pattern>/GamePlayers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinGame</servlet-name>
        <url-pattern>/JoinGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventsHappened</servlet-name>
        <url-pattern>/EventsHappened</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
